.menu-component {
    background-color: lightyellow;
    padding: 1rem;
    width: 15%;
    height: calc(100vh - 50px);

    a, a:hover {
        color: gray;
        text-decoration: none;
        display: block;
        padding: 1rem;
        border-radius: 3px;

        i {
            margin-right: 5px;
        }
    }

    .active-link {
        font-weight: bold;
        background-color: lightgoldenrodyellow;
    }
}
